
 
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
   
      <span class="ml-3 text-xl">Abby Dizon</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-black justify-center">
      <a class="mr-5 hover:text-gray-900" routerLink = "home" routerLinkActive ="active">Home</a>
      <a class="mr-5 hover:text-gray-900" routerLink = "/td" routerLinkActive ="active">TD Form</a>
      <a class="mr-5 hover:text-gray-900" routerLink = "/rf" routerLinkActive ="active">RF Demo</a>
      <a class="mr-5 hover:text-gray-900" routerLink = "/rfv" routerLinkActive ="active">RF Validation</a>
    </nav>

  </div>
</header>

<!-- <br><br><br><br>

<section >
  <div class="py-8 pt-8 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">

      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-stone-900 md:text-5xl lg:text-6xl  ">Hello, I am Abby</h1>
      <p class="mb-8 text-lg font-normal text-stone-500 lg:text-xl sm:px-16 xl:px-48 ">Welcome to my Demo for Finals where we cover Template driven Form and Reactive demo.</p>
      <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
          <a href="/td" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-black rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
              Learn more
              <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
    
      </div>
     

  </div>
</section> -->



<router-outlet />
