
<br><br><br><br>

<section >
  <div class="py-8 pt-8 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">

      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-stone-900 md:text-5xl lg:text-6xl  ">Sign up, Friend!</h1>
      <p class="mb-8 text-lg font-normal text-stone-500 lg:text-xl sm:px-16 xl:px-48 ">Sign up your account below.</p>
      <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
        
     <div>
        <form [formGroup] = "formdata" (ngSubmit)="onClickSubmit(formdata.value)" >
        <input class="input-box" type="text" name="userName" placeholder="Enter Text" formControlName ="userName">
        <input class="btn" type="submit" value="Click Here">
    </form>

     </div>
        </div>
        <p>You have entered: {{ userName }}</p>
  </div>
</section>

