<section >
    <div class="py-8 pt-8 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <br> <br>
        <br> <br>
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-stone-900 md:text-5xl lg:text-6xl  ">Hi there!</h1><br>
        <p class="mb-8 text-lg font-normal text-stone-500 lg:text-xl sm:px-16 xl:px-48 ">This is my demonstration of Template Driven and Reactive Demo. This is for our subject ADWEB with class code 2199.</p>

        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">

        </div>
    </div>
</section>s